<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DocumentCloud UI Example Add-On</title>
  <meta name="description" content="A proof of concept for UI Add-Ons">
  <meta name="author" content="Mitchell Kotler">
  <link href= "../static/styles/mainpage.css" rel="stylesheet">
  
  
</head>

<body>
  <p id="content">Loading...</p>
  <p id="ProjectTitle"></p>
  <ul id="ProjectList"></ul>

  <script>

    async function postProjectData(url = "https://api.www.documentcloud.org/api/projects/", data ={}){
      const response = await fetch(url, {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "default", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "include", // include, *same-origin, omit
          redirect: "follow", // manual, *follow, error
          //referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
          //body: JSON.stringify(data), // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects

    }

    async function updateProjectData(url = "", data ={}){
      const response = await fetch (url+"projects/218484/", {method:"UPDATE"})
    }

    
    async function AddDocumentToProjectData(url = "", data = {}) {

      console.log(data)
      console.log("Changed to PUT to PATCH")
        // Default options are marked with *
        const response = await fetch(url,{
          method: "PATCH", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "default", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "include", // include, *same-origin, omit
          redirect: "follow", // manual, *follow, error
          //referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
          body: JSON.stringify(data), // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    (async () => {
   
    })();
  </script>



<body>
  <div id="config">
    <p id="auth">Loading...</p>
    <table>
      <tr>
        <td colspan="2"><label for="query">Query</label></td>
      </tr>
      <tr>
        <td colspan="2"><textarea id="query"></textarea></td>
      </tr>
      <tr class="help">
        <td colspan="2">Enter a query as it would appear on DocumentCloud.org</td>
      </tr>
      <tr>
        <td><label for="attrs">Attributes</label></td>
        <td><input id="attrs" value="id, title, description"></td>
      </tr>
      <tr class="help">
        <td colspan="2">
          Enter document attributes to show (id, title, source, description)
        </td>
      </tr>
     
      <tr>
        <td><label for="sort">Sort</label></td>
        <td><input id="sort"></td>
      <tr class="help">
        <td colspan="2">
          You may enter a single data key to sort by, use a leading - to reverse order
        </td>
      </tr>
      </tr>
      </tr>
      <tr>
        <td><label for="group">Group</label></td>
        <td><input id="group" type="checkbox"></td>
      </tr>
     
      <tr>
        <td><label for="notes">Notes</label></td>
        <td><input id="notes" type="checkbox"></td>
      </tr>
      <tr class="help">
        <td colspan="2">
          Show notes
        </td>
      </tr>


      <tr>
        <td><label for="projectDup">Duplicate</label></td>
        <td><input id="projectDup"></td>
      </tr>
      <tr class="help">
        <td colspan="2">
          Enter a document to duplicate the project with. 
        </td>
      </tr>
    </table>
    <div class="button">
      <button id="duplicate">Duplicate</button>
    </div>
    <div class="button">
      <input id="tag_id" placeholder="id">
      <button id="tag">Tag</button>
      <p id="tag_txt"></p>
    </div>

   
  </div>

  </div>
  <div id="documents">
  </div>
</body>

<script type="module" src="../static/js/DuplicateProject.js"></script>
</html>
