

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DocumentCloud UI Example Add-On</title>
  <meta name="description" content="A proof of concept for UI Add-Ons">
  <meta name="author" content="Mitchell Kotler">
</head>

<body>
  <p id="content">Loading...</p>


  <p id="ProjectTitle"> 

  </p>
    <ul id="ProjectList">
      <li></li>
    </ul>
  <script>



  async function vetAPI (){
    const url = "https://api.www.documentcloud.org/api/users/me/";
    const projectsUrl = "https://api.www.documentcloud.org/api/projects/218188"
    const projectDocsUrl = "https://api.www.documentcloud.org/api/projects/218188/documents"


    const documentStub = "https://api.www.documentcloud.org/api/documents/"
    
    const List = document.getElementById("ProjectList")
    fetch(url, { credentials: "include"})
      .then((response) => {
        console.log(response);
        if (response.ok) {
          response.json().then((data) => {
            console.log(data);
            if (data) {
              document.getElementById("content").innerHTML = "You are authenticated as " + data.username;



              fetch(projectsUrl, ).then((response)=> {
                if (response.ok){
                  response.json().then((projData) => {
                    console.log(projData)
                    document.getElementById("ProjectTitle").innerHTML = "Project Name : " + projData.title;


                  })
                }
              })
            
              fetch(projectDocsUrl, ).then((response)=> {
                if (response.ok){
                  response.json().then((projData) => {
                    console.log(projData)
                    var data = projData.results.sort()

                    var smallArray = projData.results.slice(0,3)
                    console.log(smallArray)
                     smallArray.forEach(element => {
                      fetch(documentStub+element.document+"/",).then( (docResponse) => {
                        if(docResponse.ok){
                          docResponse.json().then((docData)=>{
                            
                            console.log(docData)
                            var x = document.createElement('li')
                            List.append(x)
                            x.innerText = docData.title

                          }

                           
                          )
                        }
                      }

                      )
                     
                      
                     });{
                      }
                    
                  })
                }
              }
            
            )
            }
          });
        } else {
          document.getElementById("content").innerHTML = "You are not authenticated";
        }
      }).catch((err) => document.getElementById("content").innerHTML = "Error: check your CORS settings");


  }


   async function ChangeTagNames(data){
    console.log("Change Tag Names Reached")
    console.log(data)
    const url = "https://api.www.documentcloud.org/api/users/me/";
    const projectsUrl = "https://api.www.documentcloud.org/api/projects/218188"
    const projectDocsUrl = "https://api.www.documentcloud.org/api/projects/218188/documents"


    const documentStub = "https://api.www.documentcloud.org/api/documents/"

    
     
    const List = document.getElementById("ProjectList")
    fetch(url, { credentials: "include"})
      .then((response) => {
        console.log(response);
        if (response.ok) {
          response.json().then((data) => {
            console.log(data);
            if (data) {
              document.getElementById("content").innerHTML = "You are authenticated as " + data.username;



               const documentStub = "https://api.www.documentcloud.org/api/documents/"



               smallArray.forEach(element => {
                postData(documentStub+element.document+"/", {answer: 42}).then(
                  console.log(element +" Stubbed")
                )
               });

            }
          })
        }
      
      })
      }



      async function postData(url = "", data = {}) {
        console.log("Changed to PUT to PATCH")
        // Default options are marked with *
        const response = await fetch(url+"/data/LifeAnswer/", {
          method: "PATCH", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "default", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "include", // include, *same-origin, omit
          headers: {
            "Access-Control-Allow-Origin":"*", 
            "Content-Type": "application/json",
            Accept: "application/json",
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: "follow", // manual, *follow, error
          referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
          body: JSON.stringify(data), // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
      }


      vetAPI().then(data =>  ChangeTagNames(data));
     

</script>